<% content_for :title do %>
  Foodlog &ndash;<%= DateTime.now %>
<% end %>


  <% @entries.each do |entry| %>
    <%= render entry %>
    <p>
      <%= link_to "Show this entry", entry %>
    </p>
  <% end %>

